# API Config
PROJECT_NAME="Ticket Management System API"
SECRET_KEY="super-secret-key-change-me"
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Database Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ticket_system
